:root {
    --bg-primary-color: rgb(240, 240, 240);
    --bg-secondary-color: #fff;
    --bg-color-nav: #141A21;
    --font-color-footer: #9b9b9b;
}

.navMenu,
.footer {
    background-color: var(--bg-color-nav);
}

.footer {
    color: var(--font-color-footer);
}

.primary-containers-home {
    background-color: var(--bg-primary-color);
    height: 50vh;
}

.secondary-containers-home {
    background-color: var(--bg-secondary-color);
}

.div-login, .div-create-task, .div-editTask, .div-empty-tasks, .div-tasks, .modal-header, .modal-footer {
    background-color: var(--bg-primary-color);
}

.div-tasks span {
    width: 50px; 
    height: 20px;
}

textarea {
    height: 200px;
}

@media (min-width: 375px) {
    .search-input {
        width: 100%;
    }

    .first-container-home {
        height: 80vh;
    }

    .alertRow {
        width: 100vw;
    }

    .fixed-top-right {
        position: fixed;
        top: 0;
        right: 0;
        left: 2vw;
        z-index: 1050;
    }
}

@media (min-width: 520px) {
    .first-container-home {
        height: 60vh;
    }
}

@media (min-width: 992px) {
    .alertRow {
        width: 40vw;
    }

    .fixed-top-right {
        left: 60vw;
    }
}

@media (min-width: 1200px) {
    .search-input {
        width: 25%;
    }

    .alertRow {
        width: 30vw;
    }

    .fixed-top-right {
        left: 70vw;
    }
}