<%- include('includes/head'); %>
<%- include('includes/nav'); %>
    <div class="container my-5">
        <div class="row">
            <h1 class="text-center text-danger">Ocorreu um erro</h1>
            <p class="text-center lead">Um erro inesperado aconteceu. Aguarde alguns minutos e tente novamente.
            </p>
        </div>
    </div>
<%- include('includes/footer'); %>